
.App {
  text-align: center;
}
.data{
  border: 1px solid black;
  margin: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
  color: rgb(1, 1, 59);
}

.search {
  width: 30%;
  flex-direction: row;
  display: flex;
  margin-top: 10px;
}

ul li {
  font-size: 20px;
} 

.FormFiled{
  display: block;
  align-items: center;
  justify-content: center;
}
@media all and (min-width: 480px) {
  .LoginContainer {
    padding: 60px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .LoginContainer form {
    margin: 0 auto;
    width: 400px;
    max-width: 450px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
